/* --------------------------------------------------------
footer.css

version: 1.1
author: Silicon Bean
description: This is the style for the footer used on all pages.
----------------------------------------------------------*/

/* containers */
.red-top-border
{
    border-top: solid 10px #99351A;
}

.footer-container
{
    height: 100px;
}

.left-inner-footer
{
    float: left;
    width: 33%;
    text-align: left;
    margin: 0;
    height: 100%;
}

.middle-inner-footer
{
    float: left;
    width: 33%;
    text-align: center;
    margin: 0;
    height: 100%;
}

.right-inner-footer
{
    float: left;
    width: 33%;
    text-align: right;
    margin: 0;
    height: 100%;
}

.no-pad
{
    padding: 0 !important;
}

/* fonts */
p.muted
{
    font-size: 11px !important;
    margin-top: 10%;
}

/* images */

.left-inner-footer img
{
    margin-top: 5%;
}

.social-media-links
{
    margin-top: 10%;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}