/* --------------------------------------------------------
header.css

version: 1.1
author: Silicon Bean
description: This is the style for the menu on the header of all pages.
----------------------------------------------------------*/

.menu
{
    background-color: transparent;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    transition: height 0.2s ease-in-out;
}

.menu .menu-content
{
    z-index: 10001;
}

.menu.scrolled {
    background-color: rgba(20, 20, 24, 0.9) !important;
    transition: background-color 200ms linear, height 0.2s ease-in-out;
    height: 150px;
}

.menu.collapsed
{
    height: 100%;
    background-color: rgba(152, 53, 28, 0.9) !important;
    transition: height 0.2s ease-in-out;
}

.left-inner-menu
{
    float: left;
    width: 49%;
    text-align: left;
    height: 100px;
    padding: 20px;
}

.right-inner-menu
{
    float: left;
    width: 49%;
    text-align: right;
    height: 100px;
    padding: 30px;
}

.right-inner-menu.collapsed
{
    height: 100vh;
}

.menu-logo-link
{
    color: transparent;
}

.menu-logo
{
    width: 52px;
    float: left;
    margin-right: 4px;
}

.menu-logo-text
{
    width: 172px;
    margin-top: 3px;
    float: left;
}

.hamburger-menu
{
    float: right;
    border: none;
    background: none;
    outline:none;
    cursor: pointer;
}

.hamburger-menu:active
{
    outline:none;
}

.hamburger-menu:focus
{
    outline:none;
}

.hamburger-menu-icon
{
    margin: 9px 0 0 10px;
    opacity:1;
    transition:opacity 0.5s linear;
}

.right-inner-menu .btn
{
    float: right;
    margin: 0;
}

.menu-links
{
    display: none;
    margin-top: 130px;
    margin-right: -36px;
}

.menu-link
{
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
    color: #FFF8EA !important;
    margin: 30px 0;
    display: inline-block;
}

.menu-link:visited
{
    color: #FFF8EA !important;
}

.menu-link:hover
{
    color: #fdedcb !important;
}

/* mobile */

@media (max-width: 634px)
{
    /* containers */
    .left-inner-menu
    {
        padding: 0;
        width: 20%;
    }

    .right-inner-menu
    {
        padding: 0;
        width: 80%;
    }

    .right-inner-menu .btn
    {
        display: none;
    }

    img
    {
        max-width: 68%;
        display: block;
    }

    .menu.scrolled
    {
        height: 100px;
    }

    .menu.collapsed.scrolled
    {
        height: 100%;
    }

    .menu-logo-text
    {
        margin-top: 0;
    }

    .menu-logo
    {
        width: 50px !important;
    }

    .hamburger-menu
    {
        margin-top: 5px;
    }

    .menu-logo
    {
        margin-top: -5px;
    }

    .menu-link
    {
        font-size: 30px;
        line-height: 35px;
    }
}

@media (max-width: 434px)
{
    /* containers */
    .left-inner-menu
    {
        padding: 0;
        width: 80%;
    }

    .right-inner-menu
    {
        padding: 0;
        width: 20%;
    }

    .right-inner-menu .btn
    {
        display: none;
    }

    img
    {
        max-width: 68%;
        display: block;
    }

    .menu-logo-text
    {
        margin-top: 0;
    }

    .hamburger-menu
    {
        margin-top: 5px;
    }

    .menu-logo
    {
        margin-top: -5px;
    }
}
